.Bvp {
 width: 200px;
 height: 200px;
 border-radius: 50%;
 object-fit: cover;

}

.box {
position: absolute;
display: inline-block;
}

body {
background: url("Bilder/Profil-Hintergrund.png") no-repeat;
background-size: cover;
background-position: center;
height: 100px;
}

.Name {
position: absolute;
top: 0;
left: 35%;
transform: translateX(-65%);
}

.txt {
    position: absolute;
    top: 10%;
    left: 35%;
    transform: translateX(-23%);
}

.Profil-button {
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
padding: 15px;
width: 250px;
cursor: pointer;
list-style: none;
border-radius: 10px;
text-align: center;
font-family: sans-serif;
font-weight: bold;
transform: translateX(-10%);
}

.Meine-Hobbys-txt {
background-color: #f9f9f9;
border: 1px solid #ddd;
padding: 15px;
width: 1160px;
position: absolute;
top: 70%;
left: 0;
border-radius: 5px;
color: #333;
line-height: 1.5;
z-index: 1;
}


.Profil-txt {
background-color: #f9f9f9;
border: 1px solid #ddd;
padding: 15px;
width: 1160px;
position: absolute;
top: 70%;
left: 0;
border-radius: 5px;
color: #333;
line-height: 1.5;
z-index: 1;
}

.Profil-button::before {
content: "▼";
}

details[open] .Profil-button::before {
content: "▲";
}

.Hobby-button {
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
padding: 15px;
width: 250px;
cursor: pointer;
list-style: none;
border-radius: 10px;
text-align: center;
font-family: sans-serif;
font-weight: bold;
transform: translateX(-15%);
}

.Mein-Hobby-txt {
background-color: #f9f9f9;
border: 1px solid #ddd;
padding: 15px;
width: 250px;
position: absolute;
top: 70%;
left: 0;
border-radius: 5px;
color: #333;
line-height: 1.5;
z-index: 1;
}

.Hobby-button::before {
content: "▼";
}

details[open] .Hobby-button::before {
content: "▲";
}

.Mutivation-button {
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
padding: 15px;
width: 250px;
cursor: pointer;
list-style: none;
border-radius: 10px;
text-align: center;
font-family: sans-serif;
font-weight: bold;
transform: translateX(-20%);
}

.Meine-Mutivation-txt {
background-color: #f9f9f9;
border: 1px solid #ddd;
padding: 15px;
width: 1140px;
margin-top: 5px;
border-radius: 5px;
color: #333;
line-height: 1.5;
position: absolute;
top: 69%;
left: 0;
}

.Mutivation-button::before {
content: "▼";
}

details[open] .Mutivation-button::before {
content: "▲";
}

.Ziele-button {
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
padding: 15px;
width: 250px;
cursor: pointer;
list-style: none;
border-radius: 10px;
text-align: center;
font-family: sans-serif;
font-weight: bold;
transform: translateX(-25%);
}

.Meine-Ziele-txt {
background-color: #f9f9f9;
border: 1px solid #ddd;
padding: 15px;
width: 1140px;
margin-top: 5px;
border-radius: 5px;
color: #333;
line-height: 1.5;
position: absolute;
top: 69%;
left: 0;
}

.Ziele-button::before {
content: "▼";
}

details[open] .Ziele-button::before {
content: "▲";
}

.Dropdown {
display: flex;
flex-direction: row;
margin-top: 160px;
}
.button-login {
width: 10px;
}